body {
    font-family: Arial;
    background-color: #111;
    color: white;
    padding: 20px;
}

#produtos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #222;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    font-size: 20px;
}

.card p {
    color: lime;
    font-weight: bold;
}